/* ********************** Global element styling  ********************** */
h1 {
  font-size: 18px;
  color: #2d3248;
  font-weight: 700;
}

p,
li,
#age {
  color: #969696;
  font-weight: 400;
}

body {
  position: fixed;
  font-family: "Kumbh Sans", sans-serif;
  background: #19a2ae;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 100%;
}

* {
  /* ************* Master reset ************* */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  font-style: inherit;
  text-decoration: none;
  list-style: none;
  line-height: 1.6;
}

/* ********************** Background styling  ********************** */
.background .bg-top,
.background .bg-bottom {
  position: absolute;
}
.background .bg-top {
  transform: translate(-95%, -65%);
  -webkit-transform: translate(-95%, -65%);
  -moz-transform: translate(-95%, -65%);
  -ms-transform: translate(-95%, -65%);
  -o-transform: translate(-95%, -65%);
  animation: bounceDown 10s;
  -webkit-animation: bounceDown 10s;
}
.background .bg-bottom {
  transform: translate(-5%, 30%);
  -webkit-transform: translate(-5%, 30%);
  -moz-transform: translate(-5%, 30%);
  -ms-transform: translate(-5%, 30%);
  -o-transform: translate(-5%, 30%);
  animation: bounceUp 10s;
  -webkit-animation: bounceUp 10s;
}

/* ********************** Animations styling ********************** */
@keyframes bounceDown {
  0% {
    transform: translate(-200%, -100%);
    width: 30em;
    height: 30em;
    -webkit-transform: translate(-200%, -100%);
    -moz-transform: translate(-200%, -100%);
    -ms-transform: translate(-200%, -100%);
    -o-transform: translate(-200%, -100%);
  }
  50% {
    transform: translate(100%, 100%);
    width: 30em;
    height: 30em;
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
  }
  100% {
    transform: translate(-200%, -100%);
    width: 30em;
    height: 30em;
    -webkit-transform: translate(-200%, -100%);
    -moz-transform: translate(-200%, -100%);
    -ms-transform: translate(-200%, -100%);
    -o-transform: translate(-200%, -100%);
  }
}
@media (max-width: 768px) {
  @keyframes bounceDown {
    0% {
      transform: translate(-100%, -70%);
      width: 30em;
      height: 30em;
      -webkit-transform: translate(-100%, -70%);
      -moz-transform: translate(-100%, -70%);
      -ms-transform: translate(-100%, -70%);
      -o-transform: translate(-100%, -70%);
    }
    50% {
      transform: translate(0%, 100%);
      width: 30em;
      height: 30em;
      -webkit-transform: translate(0%, 100%);
      -moz-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
      -o-transform: translate(0%, 100%);
    }
    100% {
      transform: translate(-100%, -70%);
      width: 30em;
      height: 30em;
      -webkit-transform: translate(-100%, -70%);
      -moz-transform: translate(-100%, -70%);
      -ms-transform: translate(-100%, -70%);
      -o-transform: translate(-100%, -70%);
    }
  }
}
@keyframes bounceUp {
  0% {
    transform: translate(100%, 100%);
    width: 30em;
    height: 30em;
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
  }
  50% {
    transform: translate(-200%, -100%);
    width: 30em;
    height: 30em;
    -webkit-transform: translate(-200%, -100%);
    -moz-transform: translate(-200%, -100%);
    -ms-transform: translate(-200%, -100%);
    -o-transform: translate(-200%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
    width: 30em;
    height: 30em;
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
  }
}
@media (max-width: 768px) {
  @keyframes bounceUp {
    0% {
      transform: translate(30%, 80%);
      width: 30em;
      height: 30em;
      -webkit-transform: translate(30%, 80%);
      -moz-transform: translate(30%, 80%);
      -ms-transform: translate(30%, 80%);
      -o-transform: translate(30%, 80%);
    }
    50% {
      transform: translate(-100%, -80%);
      width: 30em;
      height: 30em;
      -webkit-transform: translate(-100%, -80%);
      -moz-transform: translate(-100%, -80%);
      -ms-transform: translate(-100%, -80%);
      -o-transform: translate(-100%, -80%);
    }
    100% {
      transform: translate(0%, 80%);
      width: 30em;
      height: 30em;
      -webkit-transform: translate(0%, 80%);
      -moz-transform: translate(0%, 80%);
      -ms-transform: translate(0%, 80%);
      -o-transform: translate(0%, 80%);
    }
  }
}
/* ********************** Profile card styling  ********************** */
.profile-card {
  background-color: #fff;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.053), 0 6.7px 5.3px rgba(0, 0, 0, 0.077), 0 12.5px 10px rgba(0, 0, 0, 0.095), 0 22.3px 17.9px rgba(0, 0, 0, 0.113), 0 41.8px 33.4px rgba(0, 0, 0, 0.137), 0 100px 80px rgba(0, 0, 0, 0.19);
}
.profile-card .bg-cover {
  border-radius: 1rem 1rem 0 0;
}
.profile-card .personal-details {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}
.profile-card .personal-details #age {
  margin-left: 0.8rem;
}
.profile-card #city {
  font-size: 0.85em;
  margin-bottom: 1.8rem;
  margin-top: 0.4rem;
}
.profile-card .display-pic {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
  border: 0.4rem solid #fff;
}
.profile-card .profile-stats {
  border-top: 1px gray solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card .profile-stats .stats {
  margin: 1.8rem 0;
}
.profile-card .profile-stats .stats:nth-child(2) {
  margin-inline: 3rem;
}
.profile-card .profile-stats .stat-header {
  font-size: 0.75em;
}

/* ********************** Attribution styling ********************** */
.attribution {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media (min-width: 768px) {
  .attribution {
    flex-direction: row;
    justify-content: center;
  }
  .attribution .codedby {
    margin-left: 1rem;
  }
}
.attribution a {
  animation: colorful 5s 2s infinite;
  -webkit-animation: colorful 5s 3s infinite;
  font-size: 1.1em;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
@keyframes colorful {
  0% {
    color: #fff;
  }
  100% {
    color: #2d3248;
  }
}

/*# sourceMappingURL=profile-card-component.css.map */
