/* ********************** Global element styling  ********************** */
h1 {
  font-size: 18px;
  color: #2d3248;
  font-weight: 700; }

p,
li,
#age {
  color: #969696;
  font-weight: 400; }

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: #19a2ae;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 12px; }

* {
  /* ************* Master reset ************* */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  font-style: inherit;
  text-decoration: none;
  list-style: none;
  line-height: 1.6; }

/* ********************** Card styling  ********************** */
.container {
  position: relative;
  /* ********************** Background styling  ********************** */
  /* ********************** Animation styling  ********************** */
  /* ********************** Large screens animation styling  ********************** */
  /* ********************** Media Queries  ********************** */
  /* ********************** Profile card styling  ********************** */ }
  .container .bg-top,
  .container .bg-bottom {
    position: fixed;
    z-index: -10; }
  .container .bg-top {
    left: -42rem;
    top: -42rem;
    height: 80em;
    width: 80em;
    animation: bounceDown 10s; }
  .container .bg-bottom {
    bottom: -42rem;
    right: -42rem;
    animation: bounceUp 10s; }
@keyframes bounceDown {
  0% {
    top: -20rem;
    left: -20rem;
    height: 30em;
    width: 30em; }
  50% {
    top: 20rem;
    left: 20rem;
    height: 40em;
    width: 40em; }
  100% {
    top: -10rem;
    left: -10rem;
    height: 50em;
    width: 50em; } }
@keyframes bounceUp {
  0% {
    bottom: -20rem;
    right: -20rem;
    height: 30em;
    width: 30em; }
  50% {
    bottom: 20rem;
    right: 20rem;
    height: 40em;
    width: 40em; }
  100% {
    bottom: -10rem;
    right: -10rem;
    height: 50em;
    width: 50em; } }
  @media (min-width: 768px) {
    @keyframes bounceDown {
      0% {
        top: -30rem;
        left: -30rem;
        height: 40em;
        width: 40em; }
      50% {
        top: 30rem;
        left: 30rem;
        height: 50em;
        width: 50em; }
      100% {
        top: -20rem;
        left: -20rem;
        height: 60em;
        width: 60em; } }
    @keyframes bounceUp {
      0% {
        bottom: -30rem;
        right: -30rem;
        height: 40em;
        width: 40em; }
      50% {
        bottom: 30rem;
        right: 30rem;
        height: 50em;
        width: 50em; }
      100% {
        bottom: -20rem;
        right: -20rem;
        height: 60em;
        width: 60em; } } }
  @media (min-width: 600px) {
    .container .bg-top {
      left: -35rem;
      top: -39rem; }
    .container .bg-bottom {
      bottom: -39rem;
      right: -35rem; } }
  @media (min-width: 768px) {
    .container .bg-top {
      left: -32rem;
      top: -39rem; }
    .container .bg-bottom {
      bottom: -39rem;
      right: -32rem; } }
  @media (min-width: 992px) {
    .container .bg-top {
      left: -25rem;
      top: -39rem; }
    .container .bg-bottom {
      bottom: -39rem;
      right: -25rem; } }
  @media (min-width: 1200px) {
    .container .bg-top {
      left: -15rem;
      top: -39rem; }
    .container .bg-bottom {
      bottom: -39rem;
      right: -15rem; } }
  .container .profile-card {
    margin: 7rem 2rem 2rem;
    background-color: #fff;
    width: 29.1em;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.025), 0 6.7px 5.3px rgba(0, 0, 0, 0.036), 0 12.5px 10px rgba(0, 0, 0, 0.045), 0 22.3px 17.9px rgba(0, 0, 0, 0.054), 0 41.8px 33.4px rgba(0, 0, 0, 0.065), 0 100px 80px rgba(0, 0, 0, 0.09);
    /* ********************** Display pic styling  ********************** */
    /* ********************** Profile stats styling  ********************** */ }
    .container .profile-card .bg-cover {
      border-radius: 0.8em 0.8em 0 0; }
    .container .profile-card .details {
      margin-top: 4rem;
      border-bottom: 1px solid #c9c5c5;
      width: 100%; }
      .container .profile-card .details .personal-details {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .container .profile-card .details .personal-details #age {
          margin-left: 0.8rem; }
      .container .profile-card .details p {
        font-size: 14px;
        margin-bottom: 1.8rem; }
    .container .profile-card .display-pic {
      position: absolute;
      left: 50%;
      top: 46%;
      transform: translate(-50%, -50%);
      border: 0.55em solid #fff;
      border-radius: 50%; }
    .container .profile-card .profile-stats {
      display: flex;
      margin-top: 1.8rem;
      margin-bottom: 1.8rem; }
      .container .profile-card .profile-stats .stat-header {
        font-size: 0.75rem; }
      .container .profile-card .profile-stats .stats:nth-of-type(2) {
        margin-inline: 3rem; }

/* ********************** Attribute styling  ********************** */
.attribution {
  color: #fff;
  font-size: 1.2em;
  /* ********************** Anchor tag hover animation ********************** */ }
  .attribution a {
    color: #2d3248;
    font-family: georgia, serif;
    color: #2D3248;
    animation: colorful 5s 3s infinite; }
@keyframes colorful {
  0% {
    color: #fff; }
  50% {
    color: #969696; }
  100% {
    color: #6a6f81; } }

/*# sourceMappingURL=profile-card-component.css.map */
