$cyan: hsl(185, 75%, 39%);
$desaturated-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

/* ********************** Global element styling  ********************** */

h1 {
    font-size: 18px;
    color: $desaturated-blue;
    font-weight: 700;
}

p,
li,
#age {
    color: $dark-gray;
    font-weight: 400;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: $cyan;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 12px;
}

* {
    /* ************* Master reset ************* */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    font-size: 100%;
    font-style: inherit;
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
    // border: 2px red solid;
}


/* ********************** Card styling  ********************** */

.container {
    position: relative;

    /* ********************** Background styling  ********************** */

    .bg-top,
    .bg-bottom {
        position: fixed;
        z-index: -10;
    }

    .bg-top {
        left: -42rem;
        top: -42rem;
        height: 80em;
        width: 80em;
        animation: bounceDown 10s;
    }

    .bg-bottom {
        bottom: -42rem;
        right: -42rem;
        animation: bounceUp 10s;
    }



    /* ********************** Animation styling  ********************** */

    @keyframes bounceDown {

        @mixin bounceDown($circlePosition, $TopCircleHeight) {
            top: $circlePosition;
            left: $circlePosition;
            height: $TopCircleHeight;
            width: $TopCircleHeight;
        }

        0% {
            @include bounceDown(-20rem, 30em)
        }

        50% {
            @include bounceDown(20rem, 40em)
        }

        100% {
            @include bounceDown(-10rem, 50em);
        }

    }

    @keyframes bounceUp {

        @mixin bounceUp ($circlePosition, $circleHeight) {
            bottom: $circlePosition;
            right: $circlePosition;
            height: $circleHeight;
            width: $circleHeight;
        }

        0% {
            @include bounceUp(-20rem, 30em)
        }

        50% {
            @include bounceUp(20rem, 40em)
        }

        100% {
            @include bounceUp(-10rem, 50em);
        }

    }



    /* ********************** Large screens animation styling  ********************** */

    @media (min-width: 768px) {

        @keyframes bounceDown {

            @mixin bounceDown($circlePosition, $circleHeight) {
                top: $circlePosition;
                left: $circlePosition;
                height: $circleHeight;
                width: $circleHeight;
            }

            0% {
                @include bounceDown(-30rem, 40em)
            }

            50% {
                @include bounceDown(30rem, 50em)
            }

            100% {
                @include bounceDown(-20rem, 60em);
            }

        }

        @keyframes bounceUp {

            @mixin bounceUp ($circlePosition, $circleHeight) {
                bottom: $circlePosition;
                right: $circlePosition;
                height: $circleHeight;
                width: $circleHeight;
            }

            0% {
                @include bounceUp(-30rem, 40em)
            }

            50% {
                @include bounceUp(30rem, 50em)
            }

            100% {
                @include bounceUp(-20rem, 60em);
            }

        }

    }

    /* ********************** Media Queries  ********************** */

    @mixin mediaQuery($size) {
        @media (min-width: $size) {
            @content;
        }
    }

    @mixin topCircle($topBottom, $leftRight) {
        .bg-top {
            left: $leftRight;
            top: $topBottom;
        }

        .bg-bottom {
            bottom: $topBottom;
            right: $leftRight;
        }
    }

    $large_phone: 600px;
    $tablet: 768px;
    $desktop: 992px;
    $l_desktop: 1200px;

    @include mediaQuery($large_phone) {
        @include topCircle($leftRight: -35rem, $topBottom: -39rem)
    }

    @include mediaQuery($tablet) {
        @include topCircle($leftRight: -32rem, $topBottom: -39rem)
    }

    @include mediaQuery($desktop) {
        @include topCircle($leftRight: -25rem, $topBottom: -39rem)
    }

    @include mediaQuery($l_desktop) {
        @include topCircle($leftRight: -15rem, $topBottom: -39rem)
    }

    /* ********************** Profile card styling  ********************** */

    .profile-card {
        margin: 7rem 2rem 2rem;
        background-color: #fff;
        width: 29.1em;
        border-radius: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.025), 0 6.7px 5.3px rgba(0, 0, 0, 0.036), 0 12.5px 10px rgba(0, 0, 0, 0.045), 0 22.3px 17.9px rgba(0, 0, 0, 0.054), 0 41.8px 33.4px rgba(0, 0, 0, 0.065), 0 100px 80px rgba(0, 0, 0, 0.09);

        .bg-cover {
            border-radius: 0.8em 0.8em 0 0;
        }

        .details {
            margin-top: 4rem;
            border-bottom: 1px solid hsl(0, 4%, 78%);
            width: 100%;

            .personal-details {
                display: flex;
                flex-direction: row;
                justify-content: center;

                #age {
                    margin-left: 0.8rem;
                }
            }

            p {
                font-size: 14px;
                margin-bottom: 1.8rem;
            }
        }

        /* ********************** Display pic styling  ********************** */

        .display-pic {
            position: absolute;
            left: 50%;
            top: 46%;
            transform: translate(-50%, -50%);
            border: 0.55em solid #fff;
            border-radius: 50%;
        }

        /* ********************** Profile stats styling  ********************** */

        .profile-stats {
            display: flex;
            margin-top: 1.8rem;
            margin-bottom: 1.8rem;

            .stat-header {
                font-size: 0.75rem;
            }

            .stats:nth-of-type(2) {
                margin-inline: 3rem;
            }
        }
    }
}


/* ********************** Attribute styling  ********************** */

.attribution {
    color: #fff;
    font-size: 1.2em;

    a {
        color: $desaturated-blue;
        font-family: georgia, serif;
        color: #2D3248;
        animation: colorful 5s 3s infinite;
    }

    /* ********************** Anchor tag hover animation ********************** */

    @keyframes colorful {
        0% {
            color: #fff;
        }

        50% {
            color: $dark-gray;
        }

        100% {
            color: $grayish-blue;
        }
    }

}