$cyan: hsl(185, 75%, 39%);
$desaturated-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

/* ********************** Global element styling  ********************** */

h1 {
    font-size: 18px;
    color: $desaturated-blue;
    font-weight: 700;
}

p,
li,
#age {
    color: $dark-gray;
    font-weight: 400;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: $cyan;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 100%;
}

* {
    /* ************* Master reset ************* */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    font-size: 100%;
    font-style: inherit;
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
    // border: 2px red solid;
}



/* ********************** Background styling  ********************** */

.background {
    position: fixed;
    z-index: -10;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .bg-top {
        position: relative;
        top: -42rem;
        left: -42rem;
    }

    .bg-bottom {
        position: relative;
        bottom: 41rem;
        right: -10rem;
    }

    /* ********************** Media queries ********************** */

    @mixin mediaQuerie($screenSize) {
        @media (min-width: $screenSize) {
            @content
        }
    }

    @mixin background($top, $left, $bottom, $right) {

        .bg-top {
            top: $top;
            left: $left;
        }

        .bg-bottom {
            bottom: $bottom;
            right: $right;
        }
    }

    @include mediaQuerie(300px) {
        @include background(-41rem, -45rem, 47rem, -5rem)
    }

    /* @include mediaQuerie(600px) {
        @include background(-38rem, -15rem)
    }

    @include mediaQuerie(768px) {
        @include background(-32rem, -20rem)
    }

    @include mediaQuerie(998px) {
        @include background(-26rem, -25rem)
    }

    @include mediaQuerie(1200px) {
        @include background(-25rem, -30rem)
    }
 */
}


/* ********************** Profile card styling  ********************** */

.profile-card {
    background-color: #fff;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;

    .bg-cover {
        border-radius: 1rem 1rem 0 0;
    }

    .personal-details {
        display: flex;
        justify-content: center;
        margin-top: 3.5rem;

        #age {
            margin-left: 0.8rem;
        }

    }

    #city {
        font-size: 0.85em;
        margin-bottom: 1.8rem;
        margin-top: 0.4rem;
    }

    .display-pic {
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 36%;
        transform: translate(-50%, -50%);
        border: 0.4rem solid #fff;
    }

    .profile-stats {
        border-top: 1px gray solid;
        display: flex;
        justify-content: center;
        align-items: center;

        .stats {
            margin: 1.8rem 0;
        }

        .stats:nth-child(2) {
            margin-inline: 3rem;
        }

        .stat-header {
            font-size: 0.75em;
        }

    }

}